## Ignore folders 


References/
Lesson_development/Presentations 
Publishing/workshop_template.md
Metadata/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment directories
netcdf_python/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

